@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-weight: 300;
    font-family: Inter;
    font-style: normal;
    font-display: swap;
    src:
      url("~assets/font/Inter-Light.woff2") format("woff2"),
      url("~assets/font/Inter-Light.woff") format("woff"),
  }

  @font-face {
    font-weight: 400;
    font-family: Inter;
    font-style: normal;
    font-display: swap;
    src:
      url("~assets/font/Inter-Regular.woff2") format("woff2"),
      url("~assets/font/Inter-Regular.woff") format("woff"),
  }

  html {
    @apply h-full text-gray-900 bg-background selection:bg-gray-900 selection:text-gray-50;
  }

  body {
    @apply min-h-full;
  }

  :lang(ja-Jp) {
    @apply font-japanese;
  }
}
