@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* inter-400 - latin */
  @font-face {
    font-weight: 400;
    font-family: Inter;
    font-style: normal;
    font-display: swap;
    src:
      url("~assets/font/inter-v3-latin-regular.woff2") format("woff2"),
      url("~assets/font/inter-v3-latin-regular.woff") format("woff"),
      url("~assets/font/inter-v3-latin-regular.ttf") format("truetype"),
      url("~assets/font/inter-v3-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
  }

  html {
    @apply h-full text-gray-900 bg-background selection:bg-gray-900 selection:text-gray-50;
  }

  body {
    @apply min-h-full;
  }

  :lang(ja-Jp) {
    @apply font-japanese;
  }
}
